.footer {
    width: 100%;
    height: 70px;
    background-color: #121619;
    display: flex;
    align-items: center;
    padding-top: 10px;
  }
  
  .AmansocialMedia svg {
    color: white;
    padding-left: 10px;
    margin-left: 50px;
    padding-top: 5px;
    font-size: 25px;
    cursor: pointer;
    flex: 50%;
  }

  .AmansocialMedia svg:hover {
    font-size: 30px;
    transition: 0.3s ease-in;
  }

  .AmansocialMedia p {
      font-size: 20px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      margin-bottom: 0px;
      margin-top: 0px;
      padding-left: 50px;
      flex: 50%;
  }

  
  .LokeshsocialMedia svg {
    color: white;
    padding-left: 10px;
    margin-left: 50px;
    padding-top: 5px;
    font-size: 25px;
    cursor: pointer;
    flex: 50%;
  }

  .LokeshsocialMedia p {
      font-size: 20px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      margin-bottom: 0px;
      margin-top: 0px;
      padding-left: 50px;
      flex: 50%;
  }

  .LokeshsocialMedia svg:hover {
    font-size: 30px;
    transition: 0.3s ease-in;
  }
  
  .footer p {
    color: white;
    padding-bottom: 0px;
    padding-right: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }